*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif; 
}
html{
    padding: 0;
    border: 0;
}
body{
    background: #541e3c;
}
/* Scroll bar */
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background: #ae445a;
    border-radius: 6px;
}
/* Header */
header {
    position: relative;
    width: 70%; 
    margin: 1px auto;
    border-radius: 10px;
    padding: 7px 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #47102f;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    z-index: 1000;
}

header .logo{
    position: relative;
    color: #ae445a;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
}

header .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%; 
    margin: 0 auto;
}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
header ul li {
    list-style: none;
    margin: 10px;
    text-align: center;
    font-size: 1.1em;
} 
header ul li a {
    color: #ae445a;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}
header ul li a:hover {
    background: #662549;
    color: #451952;
    box-shadow: 0 0 10px #ae445a;
}
header .action .searchBar{
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ae445a;
    border-radius: 5px;
}
header .action .searchBar i{
    font-size: 1.4em;
    margin: 5px;
    color: #662549;
}
header .action .searchBar input{
    outline: none;
    border: none;
    font-size: 1em;
    color: #662549;
    background-color: #ae445a;
}

/* Home banner */
.banner{
    position: relative;
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .bg{
    position: relative;
    width: 100%; 
    min-height: 80vh;  
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .bg .content{
    width: 50%;
    height: 100%;
}
.banner .bg .content h2{
    font-size: 4em;
    color: #ae445a;
    letter-spacing: 1px;
}
.banner .bg .content p{
    font-size: 1em;
    color: #ae445a;
    letter-spacing: 1px;
}
.banner .bg .content a{
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    border: 1px solid #ae445a;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: #ae445a;
    letter-spacing: 1px;
}
.banner .bg .content a:hover{
    background: #662549;
    color: #ae445a;
    box-shadow: 0 0 10px #ae445a;
    border: none;
}
.banner .bg img{
    width: 400px;
}

/* About */

.about{
    position: relative;
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .contentBx{
    width: 50%;
    height: 100%;
}
.about .contentBx h2{
    font-size: 3em;
    font-weight: 700;
    color: #ae445a;
}
.about .contentBx p{
    max-width: 600px;
    color: #ae445a;
    text-align: justify;
}
.about .contentBx a{
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    border: 1px solid #ae445a;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: #ae445a;
    letter-spacing: 1px;
}
.about .contentBx a:hover{
    background: #662549;
    color: #ae445a;
    box-shadow: 0 0 10px #ae445a;
    border: none;
}
.about img{
    width: 400px;
}

/* Games */
.games{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px auto;
}
.games h2{
    color: #ae445a;
    margin: 10px 0;
}
.games ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.games ul li{
    list-style: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    color: #ae445a;
}
.games ul li:hover{
    background: #ae445a;
    color: #451952;
    box-shadow: 0 0 10px #442626;
}
.games .cardbx{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.games .cardbx .card{
    width: 280px;
    border-radius: 10px;
    margin: 20px 40px;
    background: #47102f;
    overflow: hidden;
}
.games .cardbx .card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.games .cardbx .card .content{
    padding: 10px;
}
.games .cardbx .card .content h4{
    color: #ae445a;
    margin: 15px 0;
}
.games .cardbx .card .progress-line{
    position: relative;
    height: 10px;
    width: 100%;
    background: #742e3c;
    margin-bottom: 15px;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
.games .cardbx .card .progress-line span{
    position: absolute;
    height: 100%;
    width: 80%;
    border-radius: 10px;
    background: #ae445a;
    box-shadow: 0 0 10px #ae445a;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}
.games .cardbx .card .info{
    border-top: 2px solid #ae445a;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.games .cardbx .card .info p{
    font-size: 1em;
    color: #ae445a;
}
.games .cardbx .card .info p span{
    color: #da637b;
}
.games .cardbx .card .info a{
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    border: 1px solid #ae445a;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: #ae445a;
    letter-spacing: 1px;
}
.games .cardbx .card .info a:hover{
    background: #662549;
    color: #ae445a;
    box-shadow: 0 0 10px #ae445a;
    border: none;
}
.games .cardbx .card.hide{
    display: none;
}
/*CONTACT*/
.contact{
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact img{
    height: 100%;
    width: 30%;   
    object-fit: cover;
    border-radius: 10px;
}
.contact .form{
    width: 50%;
    margin: 30px;
    align-items: center;
}
.contact .form h1{
    color: #ae445a;
    font-weight: 700;
}
.contact .form .inputBx{
    margin: 10px 0;
}
.contact .form .inputBx p{
    color: #ae445a;
}
.contact .form .inputBx input, .contact .form .inputBx textarea{
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    color: #ae445a;
    background: #47102f;
    min-height: 15px;
    font-size: 1.1em;
    border-radius: 10px;
}
.contact .form .inputBx textarea{
    height: 150px;

}
.contact .form .inputBx input[type="submit"]{
    display: inline-block;
    padding: 10px 20px;
    margin: 15px 0;
    outline: none;
    border: 1px solid #ae445a;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 700;
    width: 150px;
}
.contact .form .inputBx input[type="submit"]:hover{
    background: #ae445a;
    color: #451952;
    box-shadow: 0 0 10px #442626;
    border: none;
}
/* Footer */
footer{
    padding: 10px 100px;
    background: #47102f;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}
footer .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .info .logo{
    position: relative;
    color: #ae445a;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
}
footer .info p{
    color: #ae445a;
}
footer .info ul{
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .info ul li{
    list-style: none;
    height: 50px;
    width: 100px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ae445a;
    background: #47102f;
}
footer .info ul li a{
    color: #ae445a;
    text-decoration: none;
}
footer .info ul li a i{
    font-size: 1.2em;
    color: #ae445a;
}
footer .info ul li a:hover{
    background: #ae445a;
    color: #451952;
    box-shadow: 0 0 10px #442626;
    border: none;
}
footer .info ul li:hover a i{
    background: #ae445a;
    color: #451952;
    border: none;
}
.animeX{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}
.animeX.active{
    transform: translateY(0px);
    opacity: 1;
}
@media (max-width: 991px) {
    header {
        padding: 15px 20px;
    }

    header .nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #47102f;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
        z-index: 1000;
    }
    header .nav.active{
        display: flex;
    }
    header .nav li{
        margin: 20px 0;
    }
    header .nav li a{
        font-size: 24px;
        margin: 10px 0;
    }
}